

body{
    background: white;
    font-family: 'Abel', sans-serif;
    box-shadow: 0 0 20px 1px black;
}

#Container{
width: 90%;
margin: 0px auto;
border: 1px solid black;
box-shadow: 0 0 10px 1px black;
}

header {
  background: white;
  border-radius: 1em;
  margin-top: 3em;
  margin-bottom: 1em;
  box-shadow: 0.2em 0.3em gray;
   position: sticky;
        top: 0;
        z-index: 500;
}
[img="home"], [img ="usuario"]{
    width: 2.5em;
    margin: 0;
    float: left;

  }
 
  nav ul li {
  padding: 0.2em;
  display: inline-block;
  margin-right: 10px;
}
.clearfix{
    clear: both;
}

#content{
    float: left;
    width: 80%;
    background: white;
}

aside{
    float: right;
    width: calc(20% - 20px);
    background: yellow;
    height: 470px;
    padding: 10px;
}

.article{
    font-size: 23px;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 1em;
    border-bottom: 1px solid white;

}
h1{
    text-shadow: 0 0 20px 1px black;
    text-align: center;
    font-size: 3em;
    
}
    p{
        color: black;
        font-size: 0.7em;
}
h2{
    color: black;
    font-size: 1em;
}
@media(max-width: 960px){

    aside{
    float: left;
    width: calc(91%);
    background: yellow;
    height: 100%;
    padding: 10px;
    }
}
@media(max-width: 382px){
    h1{
        font-size: 2em;
    }
}
